@model Dis2.Web.Data.Entities.Paciente

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Identificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Identificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Apellidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Apellidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.FechaNacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.FechaNacimiento)
        </dd>
        <dt>
            Historia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Historias.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="AddHistoria" asp-route-id="@Model.Id" class="btn btn-success">Agregar Historia</a>
    <a asp-action="Index" class="btn btn-primary">Regresar</a>
</div>
@if (Model.Historias.Count == 0)
{
    <h4>No hay historias agregadas</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Historias.FirstOrDefault().Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Historias.FirstOrDefault().FechaLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Historias.FirstOrDefault().Detalle)
                </th>
                <th>
                    Especialista
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Historias)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Especialista.Usuario.NombreCompleto)
                    </td>
                    <td>
                        <a asp-action="EditHistoria" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                        <a asp-action="DetailsHistoria" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                        <a asp-action="DeleteHistoria" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
