@model IEnumerable<Dis2.Web.Data.Entities.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h2>Pacientes</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar Paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Email)
            </th>
            <th>
                Historia
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Historias.Count)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
